{% extends 'base.html' %}
{% load static %}

{%  block content %}

<head>
	<title>Home</title>

	<script src = "{% static 'jquery/jquery-3.5.1.js'%}"></script>
	<script type="text/javascript">
		$(document).ready(function(){
		    $.ajax({
		        url: 'searchResult/html',
		        success: function(data) { 
		            let searchResult='';
		                for(let i = 0; i < data.items.length; i++){
		                    searchResult += "<tr> <th scope='row'> <img src='" + data.items[i].volumeInfo.imageLinks.thumbnail +"' class='img-thumbnail'></th>" +
		                    "<td class='align-middle'>" + data.items[i].volumeInfo.title + "</td>" +
		                    "<td class='align-middle'>" + data.items[i].volumeInfo.authors + "</td>" +
		                    "<td class='align-middle'>" + data.items[i].volumeInfo.publisher + "</td>" +
		                    "<td class='align-middle'>" + data.items[i].volumeInfo.pageCount + "</td> </tr>" 
		                }
		            $('#results').html(searchResult);
		        }
		    })

		    $('#searchBtn').on("click", function(event){
		        var search = $('#searchIn').val();
		        $.ajax({
		            url: 'searchResult/' + search,
		            success: function(data) { 
		                let searchResult='';
		                    for(let i = 0; i < data.items.length; i++){
		                        searchResult += "<tr> <th scope='row'> <img src='" + data.items[i].volumeInfo.imageLinks.thumbnail +"' class='img-thumbnail'></th>" +
		                        "<td class='align-middle'>" + data.items[i].volumeInfo.title + "</td>" +
		                        "<td class='align-middle'>" + data.items[i].volumeInfo.authors + "</td>" +
		                        "<td class='align-middle'>" + data.items[i].volumeInfo.publisher + "</td> </tr>" 
		                        "<td class='align-middle'>" + data.items[i].volumeInfo.pageCount + "</td> </tr>" 
		                    }
		                $('#results').html(searchResult);
		            }
		        })
		    })
		})
	</script>

</head>

<br>
<div class="textBox">
	<h4 style="text-align: center; background-color: #393e46; color: white; padding: 10px; margin-bottom: 0px; ">SEARCH BOX</h4>

	<div style="background-color: #ffa62b; padding: 40px;">
        <input type="text" id="searchIn" placeholder="Search your Keyword" class="inputText">
        <br><br>
        <input type="submit" value="Search" id="searchBtn" class="inputButton">
	</div>
</div>
	
<br>
<hr>
<br>


<div class = "tableData">
	<h4 style="text-align: center; background-color: #ffa62b; color: black; padding: 10px; margin-bottom: 0px; ">TABLE DATA</h4>
	<table class="table">
	    <thead class="thead-dark">
	        <tr style="text-align: center;">
	            <th>Thumbnail</th>
	            <th>Title</th>
	            <th>Authors</th>
	            <th>Publisher</th>
	            <th>Page</th>
	        </tr>
	    </thead>
	    <tbody id="results">
	    </tbody>
	</table>
	<p style="background-color: #343a40; color: white; padding : 20px; text-align: center;"><strong>End of page</strong></p>
</div>


{% endblock %}