.textBox{
	width: 50%; 
	margin-left: auto; 
	margin-right: auto; 
	box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
}

.inputText{
	border-radius: 10px;
	padding: 5px 10px;
	width: 100%;
}

.inputButton{
	border-radius: 10px;
}

.tableData{
	width: 75%;
	margin-right: auto;
	margin-left: auto;
}